@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* primary color #045738 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/*go to top 버튼*/
.go_to_top {
  position: fixed;
  display: inline-block;
  bottom: 6rem;
  right: 0px;
  padding: 22px 0;
  width: 9rem;
  height: 9rem;
  background: #045738 url("../img/ico-quick-open.png") no-repeat center center;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  opacity: 0;
  z-index: 9999;
  transition: all 0.3s;
}

.go_to_top a {
  display: block;
  height: 100%;
}

.go_to_top.on {
  right: 6rem;
  opacity: 1;
}

/* header 영역 */
/* header top */
#header .header_top_wrap {
  display: block;
  background-color: #045738;
}

#header .header_top_wrap.on {
  display: none;
}

#header .header_top_wrap .header_top_inner {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

#header .header_top_wrap .header_top_inner .header_top_slogan {
  float: left;
  padding: 14px 0;
  font-family: “Apple SD Gothic Neo”, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #a4b8af;
}

#header .header_top_wrap .header_top_inner .header_top_sns {
  float: right;
}

#header .header_top_wrap .header_top_inner .header_top_sns li {
  float: left;
  padding: 13px 15px 13px 0;
}

#header .header_top_wrap .header_top_inner .header_top_sns li a img {
  opacity: 0.5;
}

#header .header_top_wrap .header_top_inner > a {
  float: right;
  margin: 13px 15px 13px 0;
  font-size: 1.4rem;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#header .header_top_wrap .header_top_inner > a:hover {
  opacity: 1;
}

/* header middle*/
#header .header_md_wrap {
  display: block;
}

#header .header_md_wrap.on {
  display: none;
}

#header .header_md_inner {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

#header .header_md_inner .header_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header .header_md_inner .search_wrap {
  float: left;
  padding: 35px 0;
}

#header .header_md_inner .search_wrap input {
  min-width: 28rem;
  height: 4.3rem;
  padding: 1rem 2.2rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#header .header_md_inner .search_wrap button {
  width: 4.3rem;
  height: 4.3rem;
  background: url("../img/ico-search.png") no-repeat center center;
  border: 1px solid #ccc;
  border-left: 0;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -2px;
}

#header .header_md_inner .login_wrap {
  float: right;
  padding-top: 45px;
}

#header .login_wrap li {
  position: relative;
  float: left;
  padding-right: 2.4rem;
}

#header .login_wrap li a {
  display: block;
  padding: 1rem 2.5rem 1rem 0;
  font-size: 1.5rem;
  color: #191919;
}

#header .login_wrap li > .login {
  background: url("../img/ico-login.png") no-repeat right center;
}

#header .header_md_inner .login_wrap li > .lang {
  padding-right: 30px;
  background: url("../img/ico-lang.png") no-repeat right center;
}

#header .header_md_inner::after,
#header .header_md_inner .login_wrap::after {
  content: "";
  display: block;
  clear: both;
}

/* header bottom */
#header .header_bottom_wrap {
  z-index: 1000;
  border-top: 1px solid #e1e1e1;
  border-bottom: 2px solid #045738;
}

#header .header_bottom_wrap .header_bottom_inner::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_bottom_wrap.on {
  position: fixed;
  width: 100%;
  background: #fff;
}

#header .header_bottom_wrap.on .header_bottom_inner img {
  display: block;
  width: 14rem;
  float: left;
  padding: 3.2rem 0.5rem;
}

#header .header_bottom_wrap.on .header_bottom_inner .gnb {
  width: 78%;
  float: left;
}

#header .header_bottom_wrap.on .header_bottom_inner .gnb li {
  padding: 0 2rem;
}

#header .header_bottom_wrap.on .header_bottom_inner .login_search {
  display: inline-block;
}

#header .header_bottom_wrap.on .header_bottom_inner .login_search .login_wrap {
  float: left;
}

#header .header_bottom_wrap .header_bottom_inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

#header .header_bottom_wrap .header_bottom_inner img {
  display: none;
}

#header .header_bottom_wrap .header_bottom_inner .login_search {
  display: none;
  float: right;
  padding: 2.7rem 0;
}

#header .header_bottom_wrap .header_bottom_inner .login_search .login_wrap {
  display: inline-block;
  vertical-align: middle;
}

#header .header_bottom_wrap .header_bottom_inner .search_btn {
  /* position: absolute; */
  width: 4.3rem;
  height: 4.3rem;
  background: url("../img/ico-search.png") no-repeat center center;
  border: 1px solid #ccc;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -2px;
}

#header .header_bottom_wrap .header_bottom_inner .mobile_gnb_btn {
  position: absolute;
  display: none;
  width: 4.3rem;
  height: 4.3rem;
  right: 0;
  background: url("../img/btn-menu.png") no-repeat center center;
  background-size: 60%;
  border: 1px solid #ccc;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -2px;
}

#header .header_bottom_wrap .header_bottom_inner .gnb {
  text-align: center;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li {
  display: inline-block;
  padding: 0 4.4rem 0 3rem;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li > a {
  position: relative;
  display: block;
  padding: 3.6rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li > a::after {
  content: "";
  position: absolute;
  display: none;
  top: 1.7rem;
  right: -0.8rem;
  width: 2.1rem;
  height: 1.8rem;
  background: url("../img/ico-gnb-pop.png") no-repeat center center;
  background-size: cover;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li:hover > a::after {
  display: block;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li .sub_gnb {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  padding: 4.5rem 10rem;
  box-sizing: border-box;
  z-index: 1000;
  background: rgba(4, 87, 56, 0.95);
  overflow: hidden;
  transition: 0.3s;
}

#header .header_bottom_wrap .header_bottom_inner .gnb > li .sub_gnb.on {
  display: block;
}

#header .header_bottom_wrap .header_bottom_inner .gnb li .sub_gnb > ul {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#header .header_bottom_wrap .header_bottom_inner .gnb li .sub_gnb > ul > li {
  display: table-cell;
  padding: 20px;
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 1;
  box-sizing: border-box;
  text-align: left;
}

#header
  .header_bottom_wrap
  .header_bottom_inner
  .gnb
  li
  .sub_gnb
  > ul
  > li:last-child {
  border-right: none;
}

#header .header_bottom_wrap .header_bottom_inner .gnb li .sub_gnb > ul > li a {
  display: block;
  position: relative;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #fff;
}

#header
  .header_bottom_wrap
  .header_bottom_inner
  .gnb
  li
  .sub_gnb
  > ul
  > li
  .sub_gnb02 {
  padding-top: 20px;
}

#header
  .header_bottom_wrap
  .header_bottom_inner
  .gnb
  li
  .sub_gnb
  > ul
  > li
  .sub_gnb02
  li {
  padding-bottom: 15px;
}

#header
  .header_bottom_wrap
  .header_bottom_inner
  .gnb
  li
  .sub_gnb
  > ul
  > li
  .sub_gnb02
  li
  a {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #9ac1b2;
}

#header
  .header_bottom_wrap
  .header_bottom_inner
  .gnb
  li
  .sub_gnb
  > ul
  > li
  .sub_gnb02
  li:hover
  a {
  color: #fff;
}

/* section common */
section .section_inner {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

section.full .section_inner {
  max-width: 100%;
}

/* common btn */
.more_view {
  position: absolute;
  right: 0;
  top: 15rem;
  padding: 5px;
  border-bottom: 1px solid #333;
  font-size: 1.6rem;
  text-align: center;
}

/* title_box 공통 */
.title_box {
  position: relative;
}

.title_box .sub_title {
  position: relative;
  padding-left: 1.6rem;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
}

.title_box .sub_title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #e82f68;
}

.title_box .main_title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding: 1.4rem 0 5.5rem;
}

.main_title_type2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: rgba(255, 255, 255, 0.3);
}

/* swiper */
.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: none;
  border: 1px solid #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 25px;
  height: 11px;
  border-radius: 30px;
  background-color: #fff;
}

/* footer 영역 */
.footer_top {
  border-top: 1px solid #cbcbcb;
}

.footer_top .footer_top_inner {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 12px 0;
  overflow: hidden;
}

.footer_top .footer_top_inner .title_box {
  display: inline-block;
  padding: 1.5rem 0;
  vertical-align: top;
}

.footer_top .footer_top_inner .footer_list_box {
  float: right;
  width: calc(100% - 260px);
}

.footer_top .footer_top_inner .footer_list_box ul li {
  float: left;
  margin-right: 2rem;
}

.footer_top .footer_top_inner .footer_list_box ul li a {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 1.2rem 0;
  color: #999;
}

.footer_middle {
  background-color: #222d29;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer_middle .footer_md_inner {
  max-width: 1300px;
  margin: 0 auto;
}

.footer_middle .footer_md_inner .footer_md_list_box {
  display: inline-block;
  width: calc(100% - 6.8rem);
  vertical-align: middle;
}

.footer_middle .footer_md_inner .footer_md_list_box ul li {
  display: inline-block;
  width: 14%;
  text-align: center;
  padding: 1.5rem 0;
  margin-right: 2rem;
}

.footer_middle .footer_md_inner .footer_md_list_box ul li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 1.2rem 0;
  color: #979499;
}

.footer_top_btn {
  display: inline-block;
  padding: 4.4rem 1.7rem 2rem;
  background: #e82f68 url("../img/img-scroll-top.png") no-repeat 50% 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  vertical-align: middle;
}

.footer_bottom {
  background: #222d29;
}

.footer_bottom .footer_bt_inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 34px 0;
}

.footer_bottom .footer_bt_inner .logo {
  display: inline-block;
  width: 5rem;
  vertical-align: middle;
}

.footer_bottom .footer_bt_inner .logo img {
  width: 100%;
}

.footer_bottom .footer_bt_inner .info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5rem;
}

.footer_bottom .footer_bt_inner .info ul {
  overflow: hidden;
}

.footer_bottom .footer_bt_inner .info ul li {
  float: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  margin-right: 2rem;
}

.footer_bottom .footer_bt_inner .info ul li:last-of-type {
  margin-right: 0;
}

.footer_bottom .footer_bt_inner .info ul li a {
  color: #fff;
}

.footer_bottom .footer_bt_inner .info p {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}

/* 반응형 */
@media screen and (max-width: 1300px) {
  body,
  html {
    font-size: 7px;
  }

  .go_to_top {
    background-size: 50%;
  }

  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 1100px;
  }
  #header .header_bottom_wrap .header_bottom_inner .search_btn {
    background-size: 60%;
  }
  #header .login_wrap li > .login {
    background-size: 30%;
  }
  .footer_top_btn {
    display: none;
  }

  .footer_middle .footer_md_inner .footer_md_list_box {
    width: 100%;
  }

  .footer_bottom .footer_bt_inner .text {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .tab_menu_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .tab_menu_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 768px;
  }

  #header .header_top_wrap,
  #header .header_md_wrap {
    display: none;
  }

  #header .header_bottom_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: 10px solid #045738;
    background: #fff;
    height: 80px;
  }

  #header .header_bottom_wrap .header_bottom_inner {
    position: relative;
  }

  #header .header_bottom_wrap .header_bottom_inner img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 21rem;
    transform: translate(-50%, -50%);
  }

  #header .header_bottom_wrap .header_bottom_inner .gnb {
    display: none;
  }

  #header .header_bottom_wrap .header_bottom_inner .login_search {
    display: inline-block;
    float: left;
  }

  #header .header_bottom_wrap .header_bottom_inner .login_search .login_wrap {
    display: none;
  }
  #header .header_bottom_wrap .header_bottom_inner .search_btn {
    margin: 1rem 3rem;
    float: left;
  }

  #header .header_bottom_wrap .header_bottom_inner .mobile_gnb_btn {
    margin: 1rem 3rem;
    display: inline-block;
  }

  .footer_top .footer_top_inner .footer_list_box {
    width: calc(100% - 170px);
  }
}

@media screen and (max-width: 768px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  .tab_menu_inner,
  section .sub_section_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 650px;
  }
}

@media screen and (max-width: 650px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .tab_menu_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 500px;
  }

  .footer_top .footer_top_inner .title_box {
    display: block;
  }

  .footer_top .footer_top_inner .footer_list_box {
    width: 100%;
  }

  .footer_middle .footer_md_inner .footer_md_list_box ul li {
    margin-right: 0;
    width: 16%;
  }
}

@media screen and (max-width: 500px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .tab_menu_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 400px;
  }

  .footer_middle .footer_md_inner .footer_md_list_box ul li {
    width: 49%;
    padding: 0;
  }

  .footer_bottom .footer_bt_inner .info {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 375px) {
  #header .header_top_wrap .header_top_inner,
  #header .header_md_inner,
  /* #header .header_bottom_wrap .header_bottom_inner, */
  section .section_inner,
  section .sub_section_inner,
  .tab_menu_inner,
  .footer_top .footer_top_inner,
  .footer_middle .footer_md_inner,
  .footer_bottom .footer_bt_inner {
    max-width: 320px;
  }
}
