@charset "UTF-8";

/* container 영역 */

/* main slide 영역 */
.swiper-container {
  width: 100%;
  height: 570px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .pc {
  display: block;
}

.swiper-slide .mobile {
  display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: 6rem;
  height: 6rem;
}

.swiper-button-prev {
  background: url("../img/btn-main-vi-prev.png") no-repeat center center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

.swiper-button-next {
  background: url("../img/btn-main-vi-next.png") no-repeat center center;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
}

/* section01 영역 */
.section01 .section01_inner {
  padding: 100px 0 120px;
}

/* content 공통 영역 */
.section01 .section01_inner .content_box {
  display: inline-block;
}

.section01 .section01_inner .content_box .content {
  float: left;
}

.section01 .section01_inner .content_box .content::after,
.section01 .section01_inner .content_box .content > div::after {
  content: "";
  display: block;
  clear: both;
}

.section01 .section01_inner .content_box .content > div .con_img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* content 공통 영역 끝 */

.section01 .section01_inner .content_box .con01 {
  width: 70%;
  padding-right: 6.5rem;
  box-sizing: border-box;
}

.section01 .section01_inner .content_box .con01 > div {
  float: left;
  padding-right: 6.5rem;
  width: calc(50% - 32.5px);
}

.section01 .section01_inner .content_box .con01 > div:nth-of-type(2) {
  padding-right: 0;
}

.section01 .section01_inner .content_box .con01 > div .con_img {
  padding-bottom: 30px;
}

.section01 .section01_inner .content_box .con01 > div .con_img a {
  display: block;
  height: 27rem;
  overflow: hidden;
}

.section01 .section01_inner .content_box .con01 > div .con_txt_box span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.section01
  .section01_inner
  .content_box
  .con01
  > div
  .con_txt_box
  .con_main_txt {
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  padding-bottom: 18px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: #222;
}

.section01
  .section01_inner
  .content_box
  .con01
  > div
  .con_txt_box
  .con_main_txt::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background: #222;
}

.section01
  .section01_inner
  .content_box
  .con01
  > div
  .con_txt_box
  .con_sub_txt {
  height: 48px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #666;
}

.section01 .section01_inner .content_box .con02 {
  width: 30%;
}

.section01 .section01_inner .content_box .con02 > div {
  float: left;
  width: calc(50% - 2.5rem);
  padding: 0 5rem 4.2rem 0;
}

.section01 .section01_inner .content_box .con02 > div:nth-of-type(even) {
  padding: 0 0 4.2rem 0;
}

.section01 .section01_inner .content_box .con02 > div .con_img {
  padding-bottom: 17px;
}

.section01 .section01_inner .content_box .con02 > div .con_img a {
  display: block;
  height: 14.5rem;
  overflow: hidden;
}

.section01
  .section01_inner
  .content_box
  .con02
  > div
  .con_txt_box
  .con_main_txt {
  display: block;
  height: 44px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

/* section02 영역 */
.section02_inner {
  height: 80rem;
}

.section02_inner::after {
  content: "";
  display: block;
  clear: both;
}

.section02_slide {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.sec02_slide > div {
  position: relative;
  height: 50%;
}

.sec02_slide > div img {
  position: absolute;
  width: 50%;
  right: 0;
  object-fit: cover;
}

.sec02_slide .sec_bottom_slide img {
  left: 0;
}

.sec02_slide > div .text_box {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #156547;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
}

.sec02_slide > div .text_box_type02 {
  background-color: #fff;
}

.sec02_slide .sec_top_slide .text_box {
  color: #fff;
  background-image: url("../img/btn-more-w02.png");
}

.sec02_slide .sec_bottom_slide .text_box_type02 {
  color: #fff;
  background-image: url("../img/btn-more-b02.png");
}

.sec02_slide .sec_bottom_slide .text_box {
  color: #222;
  right: 0;
}

.sec02_slide > div .text_box .text_inner {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.sec02_slide > div .text_box .text_inner h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding-bottom: 15px;
}

.sec02_slide > div .text_box .text_inner p {
  max-height: 63px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 100;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.sec02_pagination .swiper-pagination-bullet-active {
  background-color: #e82f68;
  border: 1px solid #e82f68;
}

.sec02_pagination {
  bottom: 45% !important;
  left: 2rem !important;
}

.sec02_pagination span {
  position: relative;
  left: 5%;
  border: 1px solid #4a4a4a;
}

.section02_slide::after {
  content: "";
  display: block;
  clear: both;
}

.fix_slide {
  width: 50%;
  height: 100%;
  float: right;
}

.fix_slide img {
  width: 100%;
  height: 100%;
}

.fix_slide .sec_top_slide .text_box {
  background-color: #e82f68;
}

/* section03 영역 */
.section03 {
  position: relative;
  background-color: #222d29;
}

.section03 .section03_inner {
  padding: 90px 0 180px;
}

.section03_inner .title_box {
  float: left;
}

.section03_inner .title_box .sub_title {
  color: #fff;
}

.section03_inner .title_box .main_title {
  padding: 2rem 0 5.5rem;
}

.section03_inner > p {
  float: right;
  padding-top: 3.5rem;
  width: calc(100% - 450px);
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 200;
  opacity: 0.5;
  margin-bottom: 5rem;
}

.section03 .section03_inner .more_view {
  position: absolute;
  right: 0;
  top: 4px;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}

.section03_inner .info_wrap {
  clear: both;
}

.section03_inner .info_wrap .type01 {
  position: relative;
  padding-bottom: 40px;
}

.section03_inner .info_wrap h4 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.4rem;
  padding-bottom: 18px;
  color: #fff;
  opacity: 0.3;
}

.section03_inner .info_wrap .type01 div::after {
  content: "";
  display: block;
  clear: both;
}

.section03_inner .info_wrap .type01 div ul {
  position: relative;
  float: left;
  padding-left: 50px;
  width: calc(50% - 25px);
}

.section03_inner .info_wrap .type01 div ul:nth-of-type(1) {
  padding-left: 0;
}

.section03_inner .info_wrap .type01 div ul li:nth-of-type(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.section03_inner .info_wrap .type01 div ul li {
  width: 100%;
  min-height: 52px;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.section03_inner .info_wrap .type01 div ul li a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section03_inner .info_wrap .type01 div ul li a .info_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 1.3rem;
  vertical-align: top;
}

.section03_inner .info_wrap .type01 div ul li a .icon_type01 {
  padding: 2px 0;
  background: #e82f68 url("../img/ico-notice.png") no-repeat center center;
  background-size: 1.3rem;
}

.section03_inner .info_wrap .type01 div ul li a .icon_type02 {
  padding: 3px 0;
  background: #00a651;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.section03_inner .info_wrap .type01 div ul li a .info_text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #fff;
}

.section03_inner .info_wrap .type02 {
  position: relative;
}

.section03_inner .info_wrap .type02 .event_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section03_inner .info_wrap .type02 .event_wrap ul li {
  position: relative;
  float: left;
  width: calc(100% / 6);
  min-height: 205px;
  padding: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.section03_inner .info_wrap .type02 .event_wrap ul li:hover {
  background: #e82f68;
}

.section03_inner .info_wrap .type02 .event_wrap ul li a .day_box {
  padding-bottom: 20px;
}

.section03_inner .info_wrap .type02 .event_wrap ul li a .day_box .day01 {
  display: block;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.section03_inner .info_wrap .type02 .event_wrap ul li a .day_box .day02 {
  font-size: 6.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

/* section04 영역 */
.section04 {
  background: #efefef;
}

.section04 .section04_inner {
  display: block;
  padding-bottom: 70px;
  margin: -100px auto 0;
}

.section04 .section04_inner .sec04_content_wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
}

.section04 .section04_inner .sec04_content_wrap .sec04_img {
  float: left;
  width: 50%;
  height: 450px;
}

.section04 .section04_inner .sec04_content_wrap .sec04_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 5rem;
  box-sizing: border-box;
  background: #fff;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box .top_text {
  overflow: hidden;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box .top_text li {
  position: relative;
  float: left;
  display: inline-block;
  font-size: 2rem;
  line-height: 30px;
  font-weight: 500;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .top_text
  li:nth-child(1) {
  padding-left: 45px;
  background: url("../img/ico-mini-tab.png") no-repeat left 50%;
  color: #e82f68;
  margin-right: 2.5rem;
  padding-right: 2.5rem;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .top_text
  li:nth-child(1):after {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  right: 0;
  width: 1px;
  height: 16px;
  background: #999;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box .title_box {
  margin-top: 3rem;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .title_box
  .main_title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 500;
  padding: 0 0 3rem;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .title_box
  .title_date {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box .sec04_list {
  min-height: 105px;
}

.section04 .section04_inner .sec04_content_wrap .sec04_text_box .sec04_list li {
  position: relative;
  padding: 0 0 8px 8px;
  box-sizing: border-box;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .sec04_list
  li
  a {
  display: inline-block;
  padding: 0 0 3px;
  width: calc(100% - 53px);
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.section04
  .section04_inner
  .sec04_content_wrap
  .sec04_text_box
  .sec04_list
  li
  .list_date {
  font-size: 1.6rem;
  color: #7b7b7b;
  vertical-align: middle;
}

.section04 .more_view {
  position: static;
  top: 100%;
  right: 100%;
}

/* section05 영역 */
.section05 {
  background: #efefef;
  overflow: hidden;
}

.section05 .section05_inner {
  min-height: 690px;
  padding-bottom: 140px;
}

.section05 .section05_inner .title_box {
  display: inline-block;
}

.section05 .section05_inner .link_box {
  position: relative;
  float: right;
  padding-top: 65px;
}

.section05 .section05_inner .link_box ul {
  overflow: hidden;
}

.section05 .section05_inner .link_box ul li {
  float: left;
  margin-right: 10px;
}

.section05 .section05_inner .link_box ul li:last-child {
  margin-right: 0;
}

.section05 .section05_inner .swiper-container {
  overflow: visible;
}

.section05 .section05_inner .content_box {
  width: 100%;
}

.section05 .section05_inner .content_box .item_wrap {
  width: 30%;
  margin-right: 6.5rem;
  margin-top: 2rem;
  float: left;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.section05 .section05_inner .content_box .item_wrap:hover {
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5);
}

.section05 .section05_inner .content_box .item_wrap:last-child {
  margin-right: 0;
}

.section05 .section05_inner .content_box .item_wrap .item_img {
  display: block;
  height: 260px;
}

.section05 .section05_inner .content_box .item_wrap .item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section05 .section05_inner .content_box .item_wrap .text_box {
  position: relative;
  padding: 25px 25px 0;
  min-height: 255px;
  box-sizing: border-box;
  background: #fff;
}

.section05 .section05_inner .content_box .item_wrap .text_box > div {
  width: 100%;
  padding-bottom: 15px;
}

.section05 .section05_inner .content_box .item_wrap .text_box > div .img {
  float: left;
  width: 50px;
}

.section05 .section05_inner .content_box .item_wrap .text_box > div .img img {
  width: 100%;
}

.section05 .section05_inner .content_box .item_wrap .text_box > div .text {
  display: block;
  padding: 5px 0 10px 10px;
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #365899;
}

.section05 .section05_inner .content_box .item_wrap .text_box > div .text span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
  color: #7b7b7b;
}

.section05 .section05_inner .content_box .item_wrap .text_box p {
  font-size: 15px;
  height: 92px;
  line-height: 23px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 20px;
  color: #5c5c5c;
}

.section05 .section05_inner .content_box .item_wrap .text_box a {
  position: absolute;
  display: block;
  width: 88%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 0;
  font-size: 15px;
  font-weight: 400;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  color: #666;
}

.swiper02,
.swiper03 {
  height: auto;
}

.swiper-container-horizontal > .swiper-scrollbar {
  top: 0;
}

.swiper-scrollbar-drag {
  background: #e82f68;
}

/* section06 영역 */
section .section06_inner {
  margin: -60px auto 0;
  background: #0a603c;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem 4.5rem;
}

.section06_inner .main_title_type2 {
  display: inline-block;
  padding-right: 65px;
  vertical-align: middle;
}

.section06_inner .sec06_box {
  display: inline-block;
  width: calc(100% - 180px);
  vertical-align: middle;
}

.section06_inner .sec06_box ul {
  overflow: hidden;
}

.section06_inner .sec06_box ul li {
  position: relative;
  float: left;
  padding-right: 40px;
  vertical-align: middle;
}

.section06_inner .sec06_box ul li a {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 4.2rem;
  color: #fff;
}

.section06_inner .sec06_box ul li a::after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  right: 2rem;
  width: 2.1rem;
  height: 1.8rem;
  background: url("../img/ico-gnb-pop.png") no-repeat center center;
}

.section06_inner .sec06_box ul li:hover a::after {
  display: block;
}

/* section07 영역 */
.section07_inner {
  margin: 0 auto;
  padding: 75px 0;
  overflow: hidden;
}

.section07_inner .title_box {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

.section07_inner .banner_wrap .section07_inner .banner_wrap .banner_box {
  display: inline-block;
  width: calc(100% / 6 - 3rem);
  margin-right: 3rem;
}

.section07_inner .banner_wrap .banner_box:last-child {
  margin-right: 0;
}

.section07_inner .banner_wrap .banner_box .img {
  height: 17.5rem;
  margin-bottom: 15px;
}

.section07_inner .banner_wrap .banner_box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section07_inner .banner_wrap .banner_box .text_box {
  display: block;
  text-align: center;
}

.section07_inner .banner_wrap .banner_box .text_box span {
  display: block;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 1.3rem;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section07_inner .banner_wrap .banner_box .text_box p {
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 반응형 */

@media screen and (max-width: 980px) {
  .section01 .section01_inner .content_box .con01 {
    width: 100%;
    padding-right: 0;
    padding-bottom: 4.2rem;
  }
  .section01 .section01_inner .content_box .con01 > div {
    width: calc(50% - 3.25rem);
  }
  .section01 .section01_inner .content_box .con02 {
    width: 100%;
  }
  .section01 .section01_inner .content_box .con02 > div .con_img a {
    height: 27rem;
  }
  .section02_inner {
    height: 200rem;
  }

  .section02_slide {
    width: 100%;
    height: 50%;
  }

  .fix_slide {
    width: 100%;
    height: 50%;
  }
  .section03_inner .info_wrap .type02 .event_wrap ul li:nth-of-type(6),
  .section03_inner .info_wrap .type02 .event_wrap ul li:nth-of-type(5) {
    display: none;
  }
  .section03_inner .info_wrap .type02 .event_wrap ul li {
    width: calc(100% / 4);
    min-height: auto;
  }

  .section04 .section04_inner .sec04_content_wrap .sec04_img {
    width: 100%;
    height: 45rem;
  }
  .section04 .section04_inner .sec04_content_wrap .sec04_text_box {
    width: 100%;
  }

  .section07_inner .banner_wrap {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide .pc {
    display: none;
  }

  .swiper-slide .mobile {
    display: block;
  }

  .section03_inner > p {
    display: none;
  }

  .section01 .section01_inner {
    padding: 10rem 0 8rem;
  }

  .section03_inner .title_box .main_title img {
    width: 30rem;
  }

  .section03_inner .info_wrap .type01 div ul {
    width: 100%;
  }

  .section03_inner .info_wrap .type01 div ul:nth-of-type(2) {
    display: none;
  }

  .section06_inner .sec06_box {
    width: calc(100% - 145px);
  }
}

@media screen and (max-width: 650px) {
  .section02_inner {
    height: 160rem;
  }

  .section06_inner .main_title_type2 {
    display: none;
  }
  .section06_inner .sec06_box {
    width: 100%;
  }

  .section05 .section05_inner .link_box {
    padding-top: 45px;
  }

  .section05 .section05_inner .link_box ul li {
    margin-right: 0;
  }

  .section05 .section05_inner .link_box ul li a img {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .section02_inner {
    height: 110rem;
  }
  .section03_inner .info_wrap .type02 .event_wrap ul li {
    width: calc(100% / 2);
  }
  .section03_inner .info_wrap .type02 .event_wrap ul li:nth-of-type(4),
  .section03_inner .info_wrap .type02 .event_wrap ul li:nth-of-type(3) {
    display: none;
  }

  .section01 .section01_inner .content_box .con01 > div {
    width: calc(50% - 1rem);
    padding-right: 2rem;
  }

  .section01 .section01_inner .content_box .con02 > div {
    width: calc(50% - 1rem);
    padding: 0 2rem 3rem 0;
  }

  .section05 .section05_inner .link_box ul li a img {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .section05 .section05_inner .link_box {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
}
